{
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "printWidth": 110,
  "arrowParens": "avoid"
}
